.custom-details .summary {
  cursor: pointer;
  /* background: #4CAF50; */
  color: white;
  padding: 10px;
  font-weight: bold;
  user-select: none;
}

.custom-details .content {
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  max-height: 0;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease,
    transform 0.5s ease,
    padding 0.3s ease;
  background: #112e855d;
  padding: 0 10px;
  pointer-events: none;
}

.custom-details.open .content {
  opacity: 1;
  transform: translateY(0);
  max-height: 500px; /* ajuste conforme necessário */
  padding: 10px;
  pointer-events: auto;
}