#projects {
  padding: 60px 20px;
  background-color: #111;
  color: #eee;
  text-align: center;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background-color: #1c1c1c;
  border: 5px solid #091b4d;
  border-radius: 10px;
  width: 270px;
  padding: 15px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 12px rgba(0, 4, 255, 0.2);
}

.project-thumb {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.project-card h3 {
  color: #1239a3;
  font-size: 1.1em;
  margin-bottom: 6px;
}

.project-card p {
  font-size: 0.9em;
  color: #ccc;
  flex-grow: 1;
  margin-bottom: 10px;
  text-align: justify;
}

.project-links a {
  font-size: 0.85em;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 6px 10px;
  border: 1px solid #1239a3;
  border-radius: 5px;
  color: #1239a3;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
}

.project-links a:hover {
  background: #1239a3;
  color: #111;
}